.Projects-Container {
  background-color: #131313;
  padding: 40vw 0 15vw;
}

.Projects-Title-Container {
  width: 85%;
  margin: 0 auto;
}

.Projects-Title {
  margin: 0;
  font-size: 6.9vw;
  width: 90%;
  color: #fff;
  font-family: "ClashDisplay-Medium";
}

.Projects-Line {
  display: flex;
  width: 50%;
  margin: 10vw 0 6vw;
  border-top: 2px solid #fff;
  opacity: 0.3;
  margin-left: -10%;
}

.Projects-Subtitle {
  color: white;
  width: 80%;
  font-size: 4.2vw;
  font-weight: 300;
  margin: 0 0 0 20%;
}

.Projects-Selection {
  display: none;
}

.Projects-Subcontainer {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 16vw auto 0;
}

.Projects-Subcontainer-Box {
  width: 100%;
  padding-bottom: 6vw;
  margin: 5vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Projects-Subcontainer-Box-Image {
  width: 100%;
  height: 90vw;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Logo-Loop {
  width: 50%;
}

.Logo-MaderoTango {
  width: 70%;
}

.Logo-Daleplast {
  width: 85%;
}

.Logo-TuEspacio {
  width: 60%;
}

.Image-Loop {
  background-image: url(../../utils/images/projects-loop3-bg.png);
}

.Image-MaderoTango {
  background-image: url(../../utils/images/projects-maderotango-bg.png);
}

.Image-Daleplast {
  background-image: url(../../utils/images/projects-daleplast-bg.png);
}

.Image-TuEspacio {
  background-image: url(../../utils/images/projects-tuespacio-bg.png);
}

.Projects-Subcontainer-Box-Title {
  font-size: 6vw;
  color: #fff;
  margin: 8vw 0 3vw;
  text-transform: capitalize;
  font-family: "ClashDisplay-Light";
}

.Projects-Subcontainer-Box-Location {
  font-size: 6vw;
  color: #aaa;
  opacity: 0.7;
  font-weight: 300;
  margin: 0;
}

.Projects-More-Container {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 5vw auto 0;
}

.Projects-More-Text {
  font-size: 5vw;
  margin-left: -3vw;
  font-family: "ClashDisplay-Regular";
}

.Projects-More-Button {
  width: 20vw;
  height: 20vw;
  background-color: #333;
  border-radius: 100vw;
  background-image: url(../../utils/images/projects-morearrow.svg);
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1199px) {
  .Projects-Container {
    padding: 9vw 0vw;
    margin-top: 0;
  }

  .Projects-Title-Container {
    width: 85%;
    position: relative;
    border: 2px solid red;
    margin-bottom: 10vw;
  }

  .Projects-Title {
    font-size: 3.4vw;
    width: 60%;
    margin: 4vw 0 0 5%;
  }

  .Projects-Line {
    margin: 5vw 0 0 5%;
  }

  .Projects-Subtitle {
    font-size: 1vw;
    width: 20%;
    position: absolute;
    margin-top: -2vw;
    right: 20%;
    opacity: 0.9;
  }

  .Projects-Selection {
    display: flex;
    color: #fff;
    font-size: 3.4vw;
    font-family: "ClashDisplay-Medium";
    margin-left: 13%;
  }

  .Projects-Subcontainer {
    width: 70%;
    margin-top: 4vw;
    justify-content: space-between;
  }

  .Projects-Subcontainer-Box {
    width: 45%;
    position: relative;
    margin-top: 0;
    padding-bottom: 2vw;
    margin-bottom: 3vw;
    cursor: pointer;
  }

  .Projects-Subcontainer-Box:nth-child(2) {
    margin-top: 6vw;
  }

  .Projects-Subcontainer-Box:nth-child(3) {
    margin-top: -6vw;
  }

  .Projects-Subcontainer-Box:hover .Projects-Subcontainer-Box-Image {
    border-top-left-radius: 7vw;
    border-bottom-right-radius: 7vw;
  }

  .Projects-Subcontainer-Box:hover .Projects-Subcontainer-Box-Button {
    background-image: url(../../utils/images/projects-morearrowa.svg);
    transform: rotateZ(-90deg);
  }

  .Projects-Subcontainer-Box:hover .Projects-Subcontainer-Box-Title {
    color: #8c32ff;
  }

  .Projects-Subcontainer-Box:hover .Projects-Subcontainer-Box-Checkbox {
    background-color: #65e0b1;
  }

  .Projects-Subcontainer-Box:hover
    .Projects-Subcontainer-Box-Description-Desktop {
    color: #fff;
  }

  .Projects-Subcontainer-Box-Image {
    height: 31vw;
    transition: 0.3s;
    will-change: border-radius;
  }

  .Projects-Subcontainer-Box-Title {
    font-size: 1.4vw;
    margin: 2vw 0 0.5vw;
    color: #fff;
    transition: 0.3s;
    will-change: color;
  }

  .Projects-Subcontainer-Box-Location {
    font-size: 1.3vw;
    margin: 0;
    font-style: normal;
    font-weight: 300;
    margin-bottom: 0.15vw;
  }

  .Projects-More-Container {
    position: relative;
    margin-top: 1vw;
    z-index: 2;
    cursor: pointer;
    width: 11vw;
    padding: 0.8vw 0;
  }

  .Projects-More-Text {
    z-index: 2;
    transform: translateX(-1.7vw);
    transition: 0.3s;
    will-change: transform;
    font-size: 1.2vw;
    margin: 0 0 0 4vw;
  }

  .Projects-More-Button {
    width: 3.8vw;
    height: 3.8vw;
    background-size: 0.9vw;
    background-position: center;
    position: absolute;
    z-index: 1;
    left: 0;
    transition: 0.3s;
    will-change: width background-position background background-size;
  }

  .Projects-More-Container:hover .Projects-More-Button {
    width: 11vw;
    background-position: 13% center;
    background-size: 0.9vw;
  }
  /* .Projects-More-Container:hover .Projects-More-Text {
    transform: translateX(-1vw);
  } */
}
