.Projects-Container {
  background-color: #131313;
  margin-top: 72vw;
  padding: 20vw 0 15vw;
}

.Projects-Title-Container {
  width: 90%;
  margin: 0 auto;
}

.Projects-Title {
  margin: 0;
  font-size: 6vw;
}

.Projects-Title-1 {
  color: #8946e1;
}

.Projects-Title-2 {
  color: #9a4dff;
}

.Projects-Title-3 {
  color: #b482ff;
}

.Projects-Arrow {
  width: 6vw;
  margin: 4vw 0 4vw;
}
.Projects-Subtitle {
  color: white;
  font-size: 5.5vw;
  margin: 0;
}

.Projects-Subcontainer {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  margin: 7vw auto 0;
}

.Projects-Subcontainer-Box {
  width: 100%;
  padding-bottom: 6vw;
  margin: 5vw 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Projects-Subcontainer-Box-Image {
  width: 100%;
  height: 90vw;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 7vw 1vw rgba(0, 0, 0, 0.8);
}

.Logo-Loop {
  width: 50%;
}

.Logo-MaderoTango {
  width: 70%;
}

.Logo-Daleplast {
  width: 85%;
}

.Logo-TuEspacio {
  width: 60%;
}

.Image-Loop {
  background-image: url(../../utils/images/projects-loop3-bg.png);
}

.Image-MaderoTango {
  background-image: url(../../utils/images/projects-maderotango-bg.png);
}

.Image-Daleplast {
  background-image: url(../../utils/images/projects-daleplast-bg.png);
}

.Image-TuEspacio {
  background-image: url(../../utils/images/projects-tuespacio-bg.png);
}

.Projects-Subcontainer-Box-Button {
  width: 14vw;
  height: 14vw;
  border-radius: 100vw;
  background-color: #65e0b1;
  background-image: url(../../utils/images/projects-boxarrow.svg);
  background-size: 30%;
  background-position: center;
  background-repeat: no-repeat;
  margin: -8.5vw 0 2vw;
}

.Projects-Subcontainer-Box-Title {
  font-size: 8vw;
  color: #fff;
  margin: 0;
  text-transform: capitalize;
}

.Projects-Subcontainer-Box-Description {
  font-size: 3vw;
  color: #aaa;
  margin: 2vw 0 0;
}

.Projects-More-Container {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 5vw auto 0;
}

.Projects-More-Button {
  width: 14vw;
  height: 14vw;
  margin-left: 2.5vw;
  background-color: #8c32ff;
  border-radius: 100vw;
  background-image: url(../../utils/images/projects-morearrow.svg);
  background-size: 25%;
  background-position: center;
  background-repeat: no-repeat;
}

@media screen and (min-width: 1199px) {
  .Projects-Container {
    padding: 9vw 2vw;
    margin-top: 0;
  }

  .Projects-Title-Container {
    width: 75%;
  }

  .Projects-Title {
    font-size: 2.7vw;
  }

  .Projects-Arrow {
    width: 2vw;
    margin: 1.5vw 0 3vw;
  }

  .Projects-Subtitle {
    font-size: 2.2vw;
  }

  .Projects-Subcontainer {
    width: 75%;
    margin-top: 4vw;
    justify-content: space-between;
  }

  .Projects-Subcontainer-Box {
    width: 45%;
    position: relative;
    margin-top: 0;
    padding-bottom: 2vw;
  }

  .Projects-Subcontainer-Box-Image {
    height: 33.5vw;
  }

  .Projects-Subcontainer-Box-Button {
    width: 2.6vw;
    height: 2.6vw;
    background-size: 60%;
    margin-top: 0;
    background-color: rgba(0, 0, 0, 0);
    background-image: url(../../utils/images/projects-morearrow.svg);
    position: absolute;
    bottom: 6.7vw;
    right: 0;
  }

  .Projects-Subcontainer-Box-Title {
    font-size: 2.1vw;
    margin: 2vw 0 1vw;
    width: 100%;
  }

  .Projects-Subcontainer-Box-Description {
    font-size: 1vw;
    width: 100%;
    margin: 0;
  }

  .Projects-More-Container {
    font-size: 1.8vw;
    margin-top: 1vw;
  }

  .Projects-More-Button {
    width: 3.8vw;
    height: 3.8vw;
    margin-left: 2.5vw;
  }
}
