.BannerUp {
  height: 60vw;
  background-color: #8c32ff;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.BannerUp-Slider-Container {
  width: 100vw;
  height: 12vw;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
  overflow: hidden;
  margin-top: 7vw;
  display: flex;
  align-items: center;
}

.BannerUp-Slider {
  width: 420vw;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  animation-name: BannerUpSlider;
  animation-duration: 9s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  will-change: margin-left;
}

@keyframes BannerUpSlider {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -140vw;
  }
}

.BannerUp-Slider-Image {
  width: 4vw;
  height: 4vw;
  margin: 0 2vw;
}

.BannerUp-Slider-Text {
  width: 70vw;
  margin: 0;
  color: #fff;
  font-size: 5vw;
  height: 10vw;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: auto;
}

.BannerUp-Button-Container {
  display: flex;
  justify-content: center;
  padding: 4vw;
  width: 100%;
}

.BannerUp-Button {
  width: 15vw;
  height: 15vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.BannerUp-Button-Image {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 200px;
  background-color: #000;
  background-image: url(../../utils/images/bannerup-arrow.svg);
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: center 47%;
}

@media screen and (min-width: 1199px) {
  .BannerUp {
    height: 14vw;
  }

  .BannerUp-Slider-Container {
    height: 4vw;
    margin-top: 2vw;
  }

  .BannerUp-Slider {
    width: 144vw;
  }

  .BannerUp-Slider-Image {
    width: 1.2vw;
    height: 1.2vw;
    margin: 0 1vw;
  }

  .BannerUp-Slider-Text {
    width: 17vw;
    font-size: 1.5vw;
    height: 2vw;
    font-weight: 600;
  }

  .BannerUp-Button-Container {
    margin-top: 0;
    padding: 0;
  }

  .BannerUp-Button {
    width: 5vw;
    height: 5vw;
    margin-top: 2vw;
  }

  .BannerUp-Button:hover .BannerUp-Button-Image {
    background-size: 40%;
    background-position: center top;
    background-image: url(../../utils/images/bannerup-arrowa.svg);
  }

  .BannerUp-Button-Image {
    background-color: rgba(0, 0, 0, 0);
    will-change: background-position background-image;
    transition: 0.3s;
    border-radius: 0;
  }

  @keyframes BannerUpSlider {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -20.25vw;
    }
  }
}
