.Hero {
}
.txt {
  margin: 5vw;
}
.txt-1 {
  font-size: 6vw;
  color: blueviolet;
  font-weight: 400;
}
.txt-2 {
  font-size: 7vw;
  color: black;
  font-weight: 600;
  letter-spacing: 1px;
}
h1 {
  font-size: 4vw;
  font-weight: 300;
}
.Hero-Background-Image {
  position: absolute;
  right: 0;
  top: 89.5vw;
  z-index: 1;
  width: 95vw;
}
@media screen and (min-width: 1199px) {
  .txt {
    width: 50%;
  }
  .txt-1 {
    font-size: 3vw;
  }
  .txt-2 {
    font-size: 3.5vw;
  }
  h1 {
    font-size: 2vw;
  }
  .Hero-Background-Image {
    width: 45%;
    right: 0;
    top: 16.2vw;
  }
}
