.Hero {
  padding: 25vw 0 93.8vw;
}

.hero-container-redes {
  display: none;
}
.hero-txt-container {
  margin: 0 auto;
  width: 90%;
}
.hero-title {
  margin: 0;
  font-size: 7.2vw;
  color: #8c32ff;
  font-weight: 400;
}
.hero-description {
  margin: 2.5vw 0 8vw;
  font-size: 7.8vw;
  font-weight: 400;
}
.hero-description-span {
  font-style: italic;
  font-weight: 600;
}

.hero-subtitle {
  text-decoration: none;
  pointer-events: none;
  color: #000;
}

.hero-subtitle-container {
  margin: 0;
  font-size: 3.8vw;
  font-weight: 600;
}

.hero-subtitle-image {
  display: none;
}

.Hero-Background-Image {
  position: absolute;
  right: 0;
  top: 108.8vw;
  z-index: 1;
  width: 95%;
}
@media screen and (min-width: 1199px) {
  .Hero {
    padding: 4vw 0 10.5vw;
  }
  .hero-redes {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 3.5%;
    width: 3vw;
    height: 9vw;
    top: 15vw;
    position: absolute;
  }
  .hero-redes-container {
    width: 1.4vw;
    height: 1.4vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-redes-image {
    width: 100%;
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-position: center;
    transition: 0.3s;
    will-change: background-image background;
  }

  .hero-ig-image {
    background-image: url(../../utils/images/hero-image-ig.svg);
    background-size: 100%;
  }

  .hero-be-image {
    background-image: url(../../utils/images/hero-image-be.svg);
    background-size: 100%;
  }

  .hero-in-image {
    background-image: url(../../utils/images/hero-image-in.svg);
    background-size: 85%;
  }

  .hero-redes-container:hover .hero-ig-image {
    background-image: url(../../utils/images/hero-image-iga.svg);
  }
  .hero-redes-container:hover .hero-be-image {
    background-image: url(../../utils/images/hero-image-bea.svg);
  }
  .hero-redes-container:hover .hero-in-image {
    background-image: url(../../utils/images/hero-image-ina.svg);
  }
  .hero-container {
    width: 75%;
    margin: 0 auto;
  }
  .hero-txt-container {
    margin: 0;
    width: 50%;
  }
  .hero-title {
    font-size: 2.3vw;
  }
  .hero-description {
    margin: 1vw 0 6vw;
    font-size: 3.3vw;
  }

  .hero-subtitle {
    pointer-events: all;
    text-decoration: none;
  }

  .hero-subtitle:hover .hero-subtitle-image {
    opacity: 1;
    transform: scale(1.05) translateY(0.7vw);
  }

  .hero-subtitle-container {
    font-size: 1.3vw;
    font-weight: 400;
  }

  .hero-subtitle-image {
    display: inline-block;
    margin-right: 0.8vw;
    width: 1.1vw;
    opacity: 0.35;
    transition: 0.3s;
    will-change: transform;
  }

  .Hero-Background-Image {
    width: 45%;
    right: 0;
    top: 6.68vw;
  }
}
