.CreativeProcess {
  background-color: #131313;
  padding: 20vw 0 0;
  display: flex;
  flex-direction: column;
}

.CreativeProcess-Title-Container {
  width: 85%;
  margin: 0 auto;
}

.CreativeProcess-Title-Description {
  color: #65e0b1;
  font-size: 4.6vw;
  margin: 0 0 2vw;
  width: 50%;
  font-weight: 300;
  letter-spacing: 1px;
}

.CreativeProcess-Title {
  color: #fff;
  font-size: 7.3vw;
  margin: 0;
  font-weight: 400;
}

.CreativeProcess-Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: -3vw;
  width: 85%;
  margin: 0 auto;
}

.CreativeProcess-Box {
  position: relative;
  width: 85%;
  margin-top: 10vw;
  padding: 7vw 6vw;
  border-radius: 6vw;
  background-color: #000;
}

.CreativeProcess-Box-Icon {
  width: 18vw;
  height: 18vw;
  position: absolute;
  right: -3vw;
  top: -3vw;
  border-radius: 100vw;
  overflow: hidden;
  background-color: #131313;
  display: flex;
  align-items: center;
  justify-content: center;
}

.CreativeProcess-Box-Icon-Figure {
  width: 65%;
  height: 65%;
  margin: 0;
  border-radius: 100vw;

  border: 0.5vw solid #65e0b1;
}

.CreativeProcess-Figure-1 {
  background-image: url(../../utils/images/creativeprocess-icon1.svg);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.CreativeProcess-Figure-2 {
  background-image: url(../../utils/images/creativeprocess-icon2.svg);
  background-size: 45%;
  background-position: center;
  background-repeat: no-repeat;
}

.CreativeProcess-Figure-3 {
  background-image: url(../../utils/images/creativeprocess-icon3.svg);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.CreativeProcess-Figure-4 {
  background-image: url(../../utils/images/creativeprocess-icon4.svg);
  background-size: 54%;
  background-position: center;
  background-repeat: no-repeat;
}

.CreativeProcess-Box-Number {
  color: #8c32ff;
  margin: 0;
  font-size: 4.5vw;
}

.CreativeProcess-Box-Title {
  color: #fff;
  font-size: 5.3vw;
  margin: 2vw 0 4vw;
}

.CreativeProcess-Box-Description {
  color: #ddd;
  font-size: 3.8vw;
  margin: 0;
  line-height: 150%;
}

.CreativeProcess-Box-Description-Desktop {
  display: none;
}

.Background-Image-Container-Desktop {
  display: none;
}

@media screen and (min-width: 767px) {
}

@media screen and (min-width: 1199px) {
  .CreativeProcess {
    padding: 7vw 0 2vw;
    position: relative;
  }

  .CreativeProcess-Title-Container {
    width: 70%;
  }

  .CreativeProcess-Title-Description {
    font-size: 1.4em;
    margin: 0 0 0.5vw;
    width: 100%;
    font-weight: 400;
  }

  .CreativeProcess-Title {
    font-size: 2.5em;
  }

  .CreativeProcess-Container {
    width: 34vw;
    bottom: 0;
    right: 0;
    opacity: 1;
    transition: 2s;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-right: 15%;
    will-change: opacity;
  }

  .CreativeProcess-Container.CreativeProcess-Scroll {
    opacity: 0;
  }

  .CreativeProcess-Box {
    width: 35%;
    height: 11vw;
    padding: 2.4vw 1.8vw 1vw;
    border-radius: 1.8vw;
    margin: 1.3vw 0;
    transition: 0.5s;
    will-change: transform background-color;
  }

  .CreativeProcess-Box:hover {
    transform: scale(1.1);
    background-color: #8c32ff;
  }

  .CreativeProcess-Box:hover .CreativeProcess-Box-Icon-Figure {
    background-color: #65e0b1;
  }

  .CreativeProcess-Box:hover .CreativeProcess-Figure-1 {
    background-image: url(../../utils/images/creativeprocess-icon1a.svg);
  }
  .CreativeProcess-Box:hover .CreativeProcess-Figure-2 {
    background-image: url(../../utils/images/creativeprocess-icon2a.svg);
  }
  .CreativeProcess-Box:hover .CreativeProcess-Figure-3 {
    background-image: url(../../utils/images/creativeprocess-icon3a.svg);
  }
  .CreativeProcess-Box:hover .CreativeProcess-Figure-4 {
    background-image: url(../../utils/images/creativeprocess-icon4a.svg);
  }

  .CreativeProcess-Box:hover .CreativeProcess-Box-Number {
    color: #fff;
  }

  .CreativeProcess-Box:hover .CreativeProcess-Box-Title {
    color: #000;
  }

  .CreativeProcess-Box:hover .CreativeProcess-Box-Description {
    color: #fff;
  }

  .CreativeProcess-Box-Icon {
    width: 5vw;
    height: 5vw;
    right: -0.7vw;
    top: -0.7vw;
    transition: 0.5s;
  }

  .CreativeProcess-Box-Icon-Figure {
    border: 0.25vw solid #65e0b1;
    transition: 0.5s;
    will-change: background-image background background-color;
  }

  .CreativeProcess-Box-Number {
    font-size: 1.3vw;
    margin: 0;
    color: #8c32ff;
    transition: 0.5s;
    will-change: color;
  }

  .CreativeProcess-Box-Title {
    font-size: 1.4vw;
    margin: 0.5vw 0;
    transition: 0.5s;
    will-change: color;
  }

  .CreativeProcess-Box-Description {
    font-size: 1.1vw;
    margin: 1vw 0 0;
    font-weight: 300;
    line-height: 140%;
    transition: 0.5s;
    will-change: color;
  }

  .CreativeProcess-Box-Description-Desktop {
    display: block;
  }

  .CreativeProcess-Box-Description-Mobile {
    display: none;
  }

  .Background-Image-Container-Desktop {
    position: absolute;
    display: flex;
    bottom: 5vw;
    margin-left: 0;
    width: 35%;
    overflow: hidden;
    transition: 0.5s;
    will-change: margin;
  }

  .Background-Image-Container-Desktop.CreativeProcess-Scroll {
    margin-left: -10vw;
  }

  .Background-Image-Desktop1 {
    margin: 0;
    width: 22vw;
    margin-left: -30%;
    z-index: 3;
  }

  .Background-Image-Desktop2 {
    margin: 0;
    width: 24vw;
    margin-left: -1vw;
    margin-top: -1.3vw;
    z-index: 3;
  }

  .Background-Image-Desktop {
    width: 100%;
  }

  .Circle-One {
    width: 27.6vw;
    height: 27.6vw;
    border-radius: 200vw;
    display: flex;
    position: absolute;
    overflow: hidden;
    transform: translateX(5.7vw) translateY(0.835vw);
  }
  .Circle-Two {
    width: 20.9vw;
    height: 20.9vw;
    background-color: #c09bfc;
    border-radius: 200vw;
    display: flex;
    position: absolute;
    z-index: 2;
    transform: translateX(-12.6vw) translateY(3.4vw);
    transition: 0.5s;
    will-change: transform;
  }

  .Background-Image-Container-Desktop.CreativeProcess-Scroll .Circle-Two {
    transform: translateX(-12.8vw) translateY(3.5vw) scale(1.55);
  }

  .Background-Image-Container-Desktop:hover .Circle-Two {
    transform: translateX(-9.5vw) translateY(3.4vw) scale(1.55);
  }
}
