.container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 10vw;
}
.container-contact-txt {
  width: 85%;
  margin: 10vw 0 8vw;
}
.container-contact-txt-title {
  font-size: 9.3vw;
  color: #8c32ff;
  font-weight: 600;
  margin-bottom: 0;
}
.container-contact-txt-subtitle {
  font-size: 7.8vw;
  font-weight: 400;
  margin: 3vw 0 2vw;
}
.contact-txt-span {
  font-weight: 600;
}
.container-contact-txt-last {
  font-size: 4vw;
  font-weight: 400;
  margin-bottom: 0;
}
.container-contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1vw;
}
.contact-name {
  font-size: 4vw;
  width: 85%;
  font-family: "Lexend Deca", sans-serif;
  border: none;
  margin: 3% 0;
  padding: 2vw;
  border-bottom: 0.1vw solid #000;
  outline: none;
}
.contact-name::placeholder {
  color: #999;
}
.contact-email {
  font-size: 4vw;
  width: 85%;
  border: none;
  font-family: "Lexend Deca", sans-serif;
  margin: 3% 0;
  padding: 2vw;
  border-bottom: 0.1vw solid #000;
  outline: none;
}
.contact-email::placeholder {
  color: #999;
}
.contact-coment {
  font-size: 4vw;
  width: 85%;
  height: 22vw;
  font-family: "Lexend Deca", sans-serif;
  border: none;
  margin: 3% 0;
  padding: 2vw;
  border-bottom: 0.1vw solid #000;
  resize: none;
  outline: none;
}
.contact-coment::placeholder {
  color: #999;
}
.contact-button-container {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 10vw auto 6vw;
}
.contact-button-submit {
  color: #000;
  border: none;
  background-color: transparent;
  font-size: 6vw;
  font-weight: 600;
  display: flex;
  align-items: center;
  width: 65%;
  margin: 0;
}

.contact-button-submit-text {
  margin: 0;
  font-size: 5.3vw;
  transform: translateX(0vw);
  font-family: "Lexend Deca", sans-serif;
}

.contact-button-submit-img {
  width: 14vw;
  height: 14vw;
  right: 32%;
  position: absolute;
  background-color: #8c32ff;
  border-radius: 100vw;
  background-image: url(../../utils/images/projects-morearrow.svg);
  background-size: 25%;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-response {
  color: #65e0b1;
}

.contact-response-text {
  font-size: 5vw;
}

.loader {
  width: 10vw;
}
@media screen and (min-width: 1199px) {
  .container-contact {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding-top: 15vw;
    padding-bottom: 5vw;
    width: 70%;
    height: auto;
    margin: 0 auto;
  }
  .container-contact-txt {
    height: auto;
    width: 50%;
    margin: 0;
  }
  .container-contact-txt-title {
    font-size: 3.4vw;
    color: #8c32ff;
    font-weight: 600;
  }
  .container-contact-txt-subtitle {
    font-size: 2.9vw;
    font-weight: 400;
    margin: 2.5vw 0 2vw;
    line-height: 110%;
  }
  .contact-txt-span {
    font-weight: 600;
  }
  .container-contact-txt-last {
    font-size: 1.3vw;
    font-weight: 400;
    margin: 0;
  }
  .container-contact-form {
    width: 40%;
    height: auto;
    margin: 0;
    padding-top: 6vw;
  }
  .contact-name {
    font-size: 1.2vw;
    font-weight: 400;
    width: 90%;
    border: none;
    padding: 0.7vw 0.2vw;
    border-bottom: 0.1vw solid #000;
  }
  .contact-email {
    font-size: 1.2vw;
    font-weight: 400;
    width: 90%;
    border: none;
    padding: 0.7vw 0.2vw;
    border-bottom: 0.1vw solid #000;
  }
  .contact-coment {
    font-size: 1.2vw;
    font-weight: 400;
    width: 90%;
    height: 10vw;
    border: none;
    padding: 0.7vw 0.2vw;
    margin-bottom: 3vw;
    border-bottom: 0.1vw solid #000;
  }
  .contact-button-container {
    margin-top: -0.5vw;
    margin-bottom: 1.5vw;
    position: relative;
    transform: translateX(7.5vw);
    width: 9vw;
  }
  .contact-button-submit {
    margin-top: 1vw;
    cursor: pointer;
    width: 100%;
  }

  .contact-button-submit-text {
    font-size: 1.3vw;
    z-index: 2;
    transition: 0.3s;
    will-change: transform color;
    margin: 0;
    font-weight: 400;
  }

  .contact-button-submit-img {
    width: 3.8vw;
    height: 3.8vw;
    background-size: 0.9vw;
    background-position: 53% center;

    cursor: pointer;
    right: 0;
    transition: 0.3s;
    will-change: width background-position background background-size;
  }

  .contact-button-container:hover .contact-button-submit-img {
    width: 100%;
    background-position: 85% center;
  }

  .contact-button-container:hover .contact-button-submit-text {
    transform: translateX(1.5vw);
    color: #fff;
  }

  .contact-response-text {
    font-size: 1.5vw;
  }

  .loader {
    width: 3vw;
  }
}
