.container-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 10vw;
}
.container-contact-txt {
  height: 100%;
  width: 80%;
  margin: 10vw 0;
}
.container-contact-txt-title {
  font-size: 9.5vw;
  color: #8c32ff;
  font-weight: 600;
  margin-bottom: 0;
}
.container-contact-txt-subtitle {
  font-size: 7vw;
  font-weight: 400;
}
.contact-txt-span {
  font-weight: 600;
}
.container-contact-txt-last {
  font-size: 4vw;
  font-weight: 400;
  margin-bottom: -3vw;
}
.container-contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1vw;
}
.contact-name {
  font-size: 4vw;
  width: 85%;
  font-family: "Lexend Deca", sans-serif;
  border: none;
  margin: 3% 0;
  padding: 1.5vw;
  border-bottom: 0.1vw solid #000;
  outline: none;
}
.contact-name::placeholder {
  color: #999;
}
.contact-email {
  font-size: 4vw;
  width: 85%;
  border: none;
  font-family: "Lexend Deca", sans-serif;
  margin: 3% 0;
  padding: 1.5vw;
  border-bottom: 0.1vw solid #000;
  outline: none;
}
.contact-email::placeholder {
  color: #999;
}
.contact-coment {
  font-size: 4vw;
  width: 85%;
  height: 22vw;
  font-family: "Lexend Deca", sans-serif;
  border: none;
  margin: 3% 0;
  padding: 1.5vw;
  border-bottom: 0.1vw solid #000;
  resize: none;
  outline: none;
}
.contact-coment::placeholder {
  color: #999;
}
.contact-button-container {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 2vw auto;
}
.contact-button-submit {
  color: #000;
  border: none;
  background-color: transparent;
  font-size: 5vw;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 5vw auto 0;
}
.contact-button-submit-img {
  width: 14vw;
  height: 14vw;
  margin-left: 2.5vw;
  background-color: #8c32ff;
  border-radius: 100vw;
  background-image: url(../../utils/images/projects-morearrow.svg);
  background-size: 25%;
  background-position: center;
  background-repeat: no-repeat;
}

.contact-response {
}

.contact-response-loader {
  width: 10vw;
  margin: 0 auto;
  display: none;
}

.contact-response-loader img {
  width: 100%;
}

.contact-response-text {
  font-size: 4vw;
  display: none;
}
@media screen and (min-width: 1199px) {
  .container-contact {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-top: 15vw;
    padding-bottom: 5vw;
    width: 75%;
    height: auto;
    margin: 0 auto;
  }
  .container-contact-txt {
    height: auto;
    width: 50%;
    margin: 0;
  }
  .container-contact-txt-title {
    font-size: 3.4vw;
    color: #8c32ff;
    font-weight: 600;
  }
  .container-contact-txt-subtitle {
    font-size: 2.9vw;
    font-weight: 400;
    margin: 2.5vw 0 2vw;
    line-height: 110%;
  }
  .contact-txt-span {
    font-weight: 600;
  }
  .container-contact-txt-last {
    font-size: 1.3vw;
    font-weight: 400;
    margin: 0;
  }
  .container-contact-form {
    width: 50%;
    height: auto;
    margin: 0;
    padding-top: 3.7vw;
  }
  .contact-name {
    font-size: 1.2vw;
    font-weight: 400;
    width: 90%;
    border: none;
    padding: 0.7vw 0.2vw;
    border-bottom: 0.1vw solid #000;
  }
  .contact-email {
    font-size: 1.2vw;
    font-weight: 400;
    width: 90%;
    border: none;
    padding: 0.7vw 0.2vw;
    border-bottom: 0.1vw solid #000;
  }
  .contact-coment {
    font-size: 1.2vw;
    font-weight: 400;
    width: 90%;
    height: 10vw;
    border: none;
    padding: 0.7vw 0.2vw;
    margin-bottom: 3vw;
    border-bottom: 0.1vw solid #000;
  }
  .contact-button-container {
    margin-top: -0.5vw;
    margin-right: -3.6vw;
    margin-bottom: 3vw;
  }
  .contact-button-submit {
    font-size: 1.8vw;
    margin-top: 1vw;
    cursor: pointer;
  }
  .contact-button-submit-img {
    width: 3.8vw;
    height: 3.8vw;
    margin-left: 2.5vw;
    cursor: pointer;
  }
}
