.container-NavBar {
  display: flex;
}
.img-menu {
  width: 7vw;
  margin: 8vw;
}
.menu {
  display: flex;
  flex-flow: column nowrap;
  z-index: 500;
}
.menu-nav {
  width: 90%;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.Desplegable.isActive {
  margin-left: 0;
}
.menu-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 10vw;
  padding-bottom: 14vw;
  border-top: 0.2vw solid #aaa;
  border-bottom: 0.2vw solid #aaa;
  position: relative;
}
.language-button {
  width: 12vw;
  color: #ffffff;
  position: absolute;
  top: 5vw;
  right: 0;
  padding: 2vw 0.5vw;
  border: 2px solid white;
}
.menu-ul {
  flex-direction: column;
  width: 100%;
  height: auto;
  padding: 0;
  list-style: none;
}
.menu-li {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 10vw;
  margin: 5vw 0;
}
.menu-checkbox {
  width: 2vw;
  height: 2vw;
  margin-right: 5vw;
  border: 0.1vw solid #aaa;
  border-radius: 200px;
}
.menu-a {
  text-decoration: none;
  color: #ffffff;
}
.menu-a:hover {
  color: #8c32ff;
  transition: 0.3s;
  will-change: color;
}
.menu-li:hover .menu-checkbox {
  background-color: #65e0b1;
}
.logo {
  width: 60vw;
}
.logo-vernal {
  width: 25vw;
  margin-left: 15vw;
  margin-top: 7vw;
}
.desplegable-title {
  display: none;
}

.Desplegable {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #131313;
  z-index: 5;
  position: fixed;
  margin-left: -100%;
  transition: 1s;
}
.logo-desplegable {
  width: 27vw;
  margin-left: -5vw;
  margin-top: 8vw;
}
.txt-desplegable {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5vw 0;
  border-bottom: 0.2vw solid #aaa;
}
.txt-desplegable-1 {
  color: #ffffff;
  margin: 0;
}
.txt-desplegable-2 {
  color: #ffffff;
  margin: 0;
  font-weight: 200;
}
.txt-desplegable-tel {
  color: #8c32ff;
  margin: 0;
  font-weight: 200;
}
.container-desplegable-contactanos {
  width: 100%;
  bottom: 0;
}
.desplegable-contactanos {
  width: 50%;
  color: #8c32ff;
  font-size: 5vw;
  margin-top: 23vw;
  margin-left: 27vw;
}
.desplegable-contactanos-flecha {
  width: 4vw;
  position: absolute;
  top: 4.6vw;
  right: 0;
  padding: 155vw 30vw;
  transform: rotate(-90deg);
}

@media screen and (min-width: 1199px) {
  .menu-nav {
    width: 80%;
    align-items: flex-start;
    position: relative;
    background-color: #131313;
  }
  .img-menu {
    width: 2vw;
    margin-left: 4vw;
    margin-top: 2.5vw;
  }
  .logo-vernal {
    width: 10vw;
    margin-left: 3vw;
    margin-top: 2vw;
  }
  .Desplegable {
    width: 75%;
    margin-left: -75%;
  }
  .logo-desplegable {
    display: none;
  }
  .desplegable-title {
    display: flex;
    margin-left: 10%;
    margin-top: 5vw;
  }
  .desplegable-title-pc {
    color: #8c32ff;
    font-size: 1.5vw;
    font-weight: 200;
  }
  .menu-list {
    width: 90%;
    position: static;
    padding: 5vw 0 0 0;
    margin-left: 10%;
    border-top: none;
    border-bottom: none;
  }
  .menu-ul {
    width: 50%;
  }
  .menu-li {
    margin: 1vw 0;
    width: 50%;
    font-size: 3vw;
  }
  .menu-checkbox {
    padding: 0.3vw;
    margin-right: 2vw;
    width: 0.5vw;
    height: 0.1vw;
  }
  .language-button {
    display: none;
  }
  .txt-desplegable {
    width: 30%;
    top: 0;
    position: absolute;
    right: 3.5vw;
    padding: 0;
    padding-top: 6.5vw;
    border-bottom: none;
  }
  .txt-desplegable-1 {
  }
  .txt-desplegable-2 {
    font-size: 1vw;
    padding-left: 2.1vw;
    font-weight: 200;
  }
  .txt-desplegable-tel {
    font-size: 1vw;
    padding-left: 5.9vw;
    font-weight: 200;
    color: white;
  }
  .container-desplegable-contactanos {
    width: 50vw;
  }
  .desplegable-contactanos {
    color: #8c32ff;
    font-size: 1.3vw;
    margin-top: 2.5vw;
    margin-left: 9vw;
  }
  .desplegable-contactanos-flecha {
    width: 2%;
    margin: 30.7vw 38vw;
    padding: 0;
    transform: rotate(360deg);
  }
}
