.container-NavBar {
  display: flex;
  /* border: 2px solid red; */
}
/* .container-NavBar.isActive {
  position: fixed;
  background-color: black;
} */
.img-menu {
  width: 7vw;
  margin: 8vw;
}
.menu {
  display: flex;
  flex-flow: column nowrap;
  z-index: 500;
}
.menu-nav {
  width: 100vw;
  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
.Desplegable.isActive {
  margin-left: 0;
}

.Logo-Container {
  width: 100%;
  height: 25vw;
  border: 2px solid white;
}

.menu-ul {
  flex-direction: column;
  border: 2px solid red;
  width: 85%;
  height: 60vw;
  padding: 0;
}
.logo {
  width: 60vw;
}
.logo-vernal {
  width: 25vw;
  margin-left: 15vw;
  margin-top: 7vw;
}

.Desplegable {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: #000;
  z-index: 5;
  position: fixed;
  margin-left: -100%;
  transition: 1s;
}
