.Footer {
  /* border-top: 2px solid red;
  border-bottom: 2px solid red; */
  background-color: #000;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vw;
}

.Footer-Container {
  /* border: 2px solid purple; */
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 22vw;
}

.Footer-Subcontainer {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Footer-Subcontainer-1 {
  padding-right: 5%;
  border-right: 1px solid #fff;
}

.Footer-Subcontainer-2 {
  padding-left: 5%;
}

.Footer-Logo {
  width: 100%;
  margin-bottom: 2.5vw;
}

.Footer-Menu {
  display: flex;
  width: 100%;
  color: #fff;
  text-decoration: none;
  font-size: 3.5vw;
  margin-top: 1vw;
  font-weight: 300;
}

.Footer-Text {
  color: #aaa;
  font-size: 2.5vw;
  margin: 0;
  font-weight: 300;
  text-align: end;
}

.Media-Container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1vw 0;
}

.Media-Links {
  width: 9.5vw;
  height: 9.5vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Media-Links-Image {
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 100px;
  background-size: 10vw;
  background-color: #8c32ff;
}

.Ig {
  background-image: url(../../utils/images/footer-ig.svg);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.Be {
  background-image: url(../../utils/images/footer-behance.svg);
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.In {
  background-image: url(../../utils/images/footer-in.svg);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.Phone-Number {
  color: #fff;
  font-size: 3.1vw;
  padding-left: 7vw;
  margin: 0;
  font-weight: 300;
  padding: 1vw 0 1vw 7vw;
  background-image: url(../../utils/images/footer-phone.svg);
  background-size: 4.5vw;
  background-repeat: no-repeat;
  background-position: 3% center;
}

@media screen and (min-width: 1199px) {
  .Footer {
    height: 20vw;
  }

  .Footer-Container {
    width: 40%;
    height: 9.2vw;
  }

  .Footer-Subcontainer-1 {
    padding-right: 7%;
  }

  .Footer-Subcontainer-2 {
    padding-left: 7%;
  }

  .Footer-Logo {
    margin-bottom: 2vw;
  }

  .Footer-Menu {
    font-size: 1.25vw;
    margin-top: 0.2vw;
  }

  .Footer-Text {
    font-size: 1vw;
    text-align: start;
  }

  .Media-Container {
    width: 9vw;
    margin: 0.8vw 0;
  }

  .Media-Links {
    width: 2.5vw;
    height: 2.3vw;
  }

  .Media-Links-Image {
    background-color: rgba(0, 0, 0, 0);
    border: 0.15vw solid #8c32ff;
  }

  .Phone-Number {
    padding-left: 2.7vw;
    font-size: 1.2vw;
    background-size: 1.3vw;
  }
}
