/* 
Colors:
  violeta: #8c32ff;
  verde-agua: #65e0b1;
----------------------
Fonts:
  light: 300
  regular: 400
  SeBuemibold: 600
----------------------
Botones y links:
  transition: 0.3s;
  

*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

.App {
  font-family: "Lexend Deca", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.85vw;
  background: #333;
}

body::-webkit-scrollbar-thumb {
  background: #8c32ff;
  box-shadow: inset 0 0 0.15vw 0;
}
