@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

.App {
  font-family: "Open Sans", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* 
Colors:
  violeta: #8c32ff;
  verde-agua: #65e0b1;
Fonts:





*/
